.p5 {
  padding-right: 5%;
}
.box-shadow{
  padding:25px;
  border-radius: 4px;
}
.m5{
  margin-bottom: 5%;
}
.heading{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
}
.m3 {
  margin-bottom: 3%;
}
.imagePreview{
  width:100px;
  height:100px;
}
.dropdown {
  height: 50px;
  padding-bottom: 8px;
  padding-top: 8px;
}
